header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0077b6, #90e0ef);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  justify-content: center;
  height: 50px;
}
.container {
  background-color: #e9f8ff;
  margin: 0;
  padding: 0;
  height: auto;
}
